In [1]:
import plotly.graph_objects as go
import dash
from dash import dcc, html
from dash.dependencies import Input, Output
from app_import.utils import load_solar_system, create_3d_axes, display_neos_with_thread, display_neos_without_thread
from app_import.NEOs import NEOs, load_neos
from app_import.Html import create_layout
import time
import os
from dotenv import load_dotenv

In [2]:
neos = load_neos(1e-6, -4, 2)
neo = neos[0]

In [ ]:
neo.get_data_and_summary()

# for key, value in neo.summary.items():
#     print(f"{key}: {value}")

neo.summary

                        value
diameter   0.0370000000000001
energy              1.047e+00
first_obs          1999-05-15
h                       24.79
ip             0.002743395186
last_obs           2000-10-03
mass                 6.98e+07
n_imp                     300
ps_cum                  -2.77
ps_max                  -3.12
ts_max                      0
v_imp                   11.23
v_inf                    1.36

In [8]:
import pandas as pd

In [ ]:
df = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6], "C": [7, 8, 9]})

df.rename(columns={"A": "a", "B": "c"})

   a  c
0  1  4
1  2  5
2  3  6